*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration:none; 
    color: rgb(247, 242, 242);
}
body{
    background-color: #170945;
    color: rgb(255, 255, 255);
}
header{
    background-color: #170945;
    padding: 2%;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
}

.l{
    margin-left: 3%;
    border-radius: 50%;
    background-color: #241355;
    width: 70px;
    height: 70px;
}
.i{
    margin-top: -2%;
    margin-left: 10%;
    border-radius: 50%;
    background-color: #584888;
    width: 40px;
    height: 40px;
}
.u{
    margin-top: -7%;
    margin-left: 7%;
    border-radius: 50%;
    background-color: #2d1477;
    width: 60px;
    height: 60px;
}
.h1{
    margin-top: -2%;
    margin-left: 9%;
    font-family: "Lucida Console", Courier, monospace;
}

/*#partieA*/



/* munu*/
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');

.hamburger-icon {
  position: absolute;
  z-index: 1;
  top: 9vh;
  left: 90%;
  padding-bottom: 1vh;
}

.hamburger-icon span {
  height: 5px;
  width: 40px;
  background-color: rgb(255, 255, 255);
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
}

#openmenu:checked ~ .menu-pane {
    top: 19%;
  left: 79vw;
  transform: translateX(-5vw);
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
  transform: rotate(45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
  opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
  opacity: 0;
}

div.menu-pane {

  position: absolute;
  transform: translateX(-105vw);
  transform-origin: (0, 0);
  transition: 0.6s ease-in-out;
}


.menu-pane li {

  padding-bottom: 20px;
  margin-left: 97px;
    font-size: 1em;
    
}


.menu-pane li:first-child {
  font-size: 1.3em;
  margin-left: 90px;
}




.menu-links li:hover a {
  color: #403a92;
}

.menu-links li:first-child:hover a {
  color: black;  
  background-color: #403a92;
}


input.hamburger-checkbox {
  position: absolute;
  z-index: 3;
  top: 5vh;
  left: 5vw;
  width: 10vw;
  opacity: 0;
  height: 6vh;
}

/*partie B*/
#profile{
    width: 40%;
    margin-top: 8%;
    margin-left: 10%;
   
    
}
.web{
    margin-left: 56%;
    margin-top: -20%;
    font-style: italic;
    font-size: 3em;
    text-shadow: 2px 2px 5px rgb(105, 99, 155);
}
.p{
    margin-left: 60%;
    font-size: 1.6em;
}
.souris{
    margin-top: -49px;
    margin-left: 85%;
    width: 7%;
    opacity: 20%;
}


.simplon{
    width: 20%;
    padding-left: 24%;
    opacity: 40%;
 
}
/**partieB***/
 .content {
    
    width: 90%;
    padding-left: 10%;
    padding-top: 10px;
    display: flex;
    background-color: #190d3d;
 }
 #partiB{
    margin-top: 16%;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
}

 .card {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 250px;
    background-color: #1b173f;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    font-size: 16px;   
    position: relative;
    display: flex;
    align-items: center;
 
 }

 .card .title {
    width: 100%;
    margin-top: 100px;
    margin-left: -50%;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
 }
 .imgg{
     width: 39%;
     margin-top: -22%;
     margin-left: 35%;

 }
 .imgu{
    width: 60%;
    margin-top: -22%;
    margin-left: 35%;
 }

 /*partiC*/
 #qui{
     max-width: 50%;
     margin-left: 30%;
     
 }
 .titr{
     padding: 7%;
     letter-spacing: 4px;
     margin-left: 20%;
 }
  /* image fleu*/
  .imga{
    width: 10%;
    opacity: 30%;
    margin-top: 2%;
    padding: 2%;
}
 /**************portfolio*************/
 #portfolio{
     padding: 1%;
     margin-left: 26%;
     margin-top: -34%;
    
 }
 .portfolio{
     position: relative;
    width: 60%;

 }
 .portfolio:hover{
    width: 65%;
 }
/*tri*/
.tri{

    margin-top: -7%;
    margin-left: 0%;
    width: 100%;
    height: 20%;
    opacity: 30%;
}
.bleu{
    margin-top: -25%;
    margin-left: -60%;
    width: 139%;
}
/**********formature*************/
.Témoignages{
    margin-top: 13%;
    padding: 1%;
font-size: 5vh;
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;

}

/********CV****************/
#cv{

    padding: 4%;
    text-align: center;
}

.cv{
    margin-top: 5%;
    font-size: 5vh;
        text-align: center;
        font-family: Courier, monospace;
       
}
.icons{
    display: inline-flex;
  
   
}
.icons a{
    margin: 0 20px;
    text-decoration: none;
    color: cornsilk;
    display: block;
    position: relative;
}
.icons a .layer{
    width: 75px;
    height: 75px;
    
}
.icons a:hover .layer{
    transform: rotate(-35deg) skew(20deg);
}
.icons a .layer span{
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 90%;
    border: 1px solid #ffffff;
    border-radius: 50px;
   
}
.icons a .layer span.fab{
    font-size: 40px;
    line-height: 62px;
    text-align: center;
}

/*************contacte***/

#cont{

    padding: 8%;
    background-image: url(http://www.fond-ecran-hd.net/Public/uploads/2019-01-14/1620.jpg);
   
}
.li{
    padding-top: 7%;
    padding-left: 3%;
    line-height: 5vh;
    font-size: 23px;
}
.cnte{
    text-align: center;
    font-size: 5vh;
    font-family: Courier, monospace;
    box-shadow: 20px 5px 5px rgb(0, 0, 0);
}

/********formulaire de contact************/




.input_wrapper {
position: relative;
}
.contacte{
    margin-left: 50%;
    margin-top: -33%;
}
/**ecrire mail.....*/
.input_wrapper input[type="text"] {
margin-top: 1em;
display: block;
width: 90%;
background: rgba(242, 56, 90, 0.05);
box-shadow: inset 2px 2px 5px 0 #DADADA;
outline: none;
text-indent: 0;
border: 1px solid #DADADA;
box-shadow: 0 0 1px 0 #E4E4E4;
padding: 1em;
color: #ffffff;
text-indent: 15%;
}

/*les boutton*/
.input_wrapper label {
position: absolute;
left: 0;
top: 0;
height: 100%;
background: #170945;
color: white;
width: 15%;
text-align: center;
line-height: 2.8em;

}
/*****animation focus*******/
.input_wrapper input[type="text"]:focus + label {
left: 81%;
}
/********message******/
.textarea_wrapper textarea {
margin-top: 15px;
width: 90%;
 min-height:110px;
 background: rgba(221, 209, 209, 0.05);
 box-shadow: inset 2px 2px 5px 0 #DADADA;
 outline: none;
border: 1px solid #DADADA;
padding: 1em;
color: #ffffff;
}

/*envoyer*/
.submit_wrapper input {
text-align: center;
width: 20%;
height: 50px;
margin-top: 1em;
margin-bottom: 6px;
background: #170945;
color: white;
border: none;
box-shadow: 1px 1px 0 0 #170945,2px 2px 0 0 #170945,3px 3px 0 0 #170945;

}

/***************footer***********/
.home{
    width: 15%;
 
}
.hom{
    width: 22%;
  
}
.ho{
    width: 15%;
   
}
ul{ 
    text-align: center;
}




